{% extends "bases.html" %}
{% block content %}

<style>
  .support-text {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  color: var(--text-color);
}


.support-jar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.support-jar img {
  width: 500px;
  height: auto;
}


.support-button {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.support-button a {
  background: rgb(33, 96, 255);
  color: #fff;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.support-button a:hover {
  background: rgba(33, 96, 255, 0.62);
}
</style>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="support-text">Підтримай нас копійочкою</div>
    <div class="support-jar">
        <img src="https://static.vecteezy.com/system/resources/previews/019/632/930/non_2x/3d-minimal-money-saving-concept-depositing-money-money-management-concept-coins-falling-into-a-glass-jar-3d-illustration-free-png.png" alt="Прозора баночка з монетками">
    </div>
    <div class="support-button">
        <a href="#">Підтримати</a>
    </div>
</div>

<br>
<br>
<br>
{% endblock content %}