{% extends "bases.html" %}
{% block content %}


<style>

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  padding-left: 20px;
  list-style: none;
  margin-left: 40px;
}

.page-item .page-link {
border: none;
padding: 10px 20px;
border-radius: 5px;
margin: 0 10px;
display: inline-block;
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
text-decoration: none;
color: #ffffff;
background: #6D95F9;
font-family: IBM Plex Serif;
font-size: 17px;
font-weight: 500;
line-height: 22px;
}

.page-item .page-link:hover {
  background: #507df0b4;
  color: #ffffff;
}

.page-item.disabled .page-link {
  background-color: #f8f9fa;
  color: #6c757d;
}

.page-item.active .page-link {
  background: #6D95F9;
  color: #ffffff;
}

.page-item.active .page-link:hover {
  background: #507df0b4;
  color: #ffffff;
}

.pagination .page-link {
  background: #6D95F9;
  color: #ffffff;
}

.page-number {
  margin: 0 10px;
  margin-top: 0.15rem;
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}

.mt-4 {
  margin-top: 1.5rem;
}





.breadcrumb {
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.news-header {
  max-width: 1246px;
  margin: 0 auto;
}

.vertical-line {
  width: 6px;
  height: 40px;
  background-color: #6D95F9;
  margin-top: 3px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
}

.news-title {
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 39px;
  font-weight: 500;
  line-height: 51px;
  text-align: left;
  margin: 0;
}

.news-all p {
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  margin-top: 15px;
  margin-left: 9px;
}

.news-filter-btn {
  background: #6D95F9;
  position: relative;
  display: flex;
  margin-left: 67px;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.news-all-btn {
  width: 85px;
  height: 37px;
  background: #6D95F9;
  border-radius: 3px;
  color: white;
  font-family: IBM Plex Serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  margin-top: 5px;
  margin-left: 4px;
  cursor: pointer;
}

.chevron1 {
  color: white;
  margin-left: -29px;
  margin-top: 7px;
  transition: transform 0.3s ease;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  border: 1px solid #6D95F9;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: left;
  min-width: 100px;
  display: none;
  max-height: 180px;
  overflow-y: auto;
}

.dropdown-menu ul {
  padding: 0px 27px 0px 7px;
  list-style: none;
}

.dropdown-menu li {
  padding: 0px 5px 3px 3px;
  font-family: IBM Plex Serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  width: 148px;
  transition: background-color 0.3s ease;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000000;
  font-family: IBM Plex Serif;
  font-size: 17px;
  font-weight: 400;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}



.news-item {
  display: flex;
  gap: 22px;
  position: relative;
  margin-top: 14px;
}

.news-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid var(--btn);
}


.news-item img {
  width: 99px;
  height: 95px;
  border-radius: 3px;
  margin-bottom: 9px;
  object-fit: cover;
}

.news-content a {
  display: block;
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  width: 635px;
  text-decoration-line: none;
  white-space: normal;
  margin-bottom: 18px;
}

.news-content .news-time {
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
}

.content-wrapper {
  display: flex;
  max-width: 1321px;
  margin: 0 auto;
  margin-left: 181px;
  margin-top: 37px;
  gap: 201px;
}

.content-section {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  float: right;
  margin-top: -95px;
  gap: 40px;
}


.news-section .news-list {
  list-style: none;
}



.interview-section {
  width: 285.02px;
  float: left;
}


.interview-section h2 {
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.interview-section h2::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid rgb(255, 24, 24);
  margin-top: 4px;
}

.interview-section ul {
  list-style: none;
  gap: 5px;
}

.interview-section li {
  display: flex;
  margin-left: -38px;
  gap: 9px;
  margin-top: 10px;
}

.interview-section li {
  display: flex;
  margin-left: -38px;
  gap: 9px;
  margin-top: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--btn);
}

.interview-section li:last-child {
  border-bottom: none;
}

.interview-section img {
  width: 70px;
  height: 50px;
  object-fit: cover;
}

.interview-section a {
  color: var(--text-color);
  font-family: IBM Plex Serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  width: 204px;
  text-decoration: none;
}
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="news-header">
    <div class="breadcrumb">
        <span>Головна</span> > <span>Новини</span>
    </div>
    <div class="header-content">
        <div class="vertical-line"></div>
        <h1 class="news-title">Останні новини Одеси</h1>
        <div class="news-all">
            <button class="news-filter-btn">
                <span class="news-all-btn">Всі</span>
                <svg class="chevron1" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
                <div class="dropdown-menu hidden">
                    <ul>
                        <li><a href="/news/">Головна</a></li>
                        <li><a href="/news-war/">Війна</a></li>
                        <li><a href="/news-ukraine/">Україна</a></li>
                        <li><a href="/news-politics/">Політика</a></li>
                        <li><a href="/news-world/">Світ</a></li>
                        <li><a href="/news-ecology/">Екологія</a></li>
                        <li><a href="/news-insurance/">Страхування</a></li>
                        <li><a href="/news-covid/">Коронавірус</a></li>
                        <li><a href="/news-weapon/">Зброя</a></li>
                        <li><a href="/news-science/">Наука</a></li>
                        <li><a href="/news-technology/">Техно і зв'язок</a></li>
                        <li><a href="/news-health/">Здоров'я</a></li>
                        <li><a href="/news-kyiv/">Новини Києва</a></li>
                        <li><a href="/news-lviv/">Новини Львова</a></li>
                        <li><a href="/news-dnipro/">Новини Дніпра</a></li>
                        <li><a href="/news-harkov/">Новини Харкова</a></li>
                        <li><a href="/news-odessa/">Новини Одеси</a></li>
                        <li><a href="/news-attractions/">Цікавинки</a></li>
                    </ul>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="news-section">
        <ul class="news-list">
            {% for news in paginated_list %}
            <li class="news-item">
                <picture>
                    <img src="{{ news.img_url }}" alt="Новина 1">
                </picture>
                <div class="news-content">
                    <a href="{{ news.url }}" target="_blank">{{ news.title }}</a>
                    <p class="news-time">{{ news.time }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        <br>
        <div class="pagination-container">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginated_list.previous_page_number }}">Назад</a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <span class="page-number">Сторінка {{ paginated_list.number }} з {{ paginated_list.paginator.num_pages }}</span>
                    </li>

                    {% if paginated_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginated_list.next_page_number }}">Далі</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="content-section">
        <div class="interview-section">
            <h2>Інтерв'ю &gt;&gt;</h2>
            <ul>
                {% for inter in news_inter %}
                <li>
                    <img src="{{ inter.img_url }}" alt="Воїн-мер Борисполя">
                    <a href="{{ inter.url }}" target="_blank">{{ inter.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="interview-section">
            <h2>Сюжет &gt;&gt;</h2>
            <ul>
                {% for plot in news_plot %}
                <li>
                    <img src="{{ plot.img_url }}" alt="Вторгнення Росії в Україну">
                    <a href="{{ plot.url }}" target="_blank">{{ plot.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    const button = document.querySelector('.news-all-btn');
const dropdown = document.querySelector('.dropdown-menu');

button.addEventListener('click', () => {
  dropdown.classList.toggle('hidden');
  dropdown.classList.toggle('visible');
});

// Закриття меню при кліку за межами
document.addEventListener('click', (e) => {
  if (!button.contains(e.target) && !dropdown.contains(e.target)) {
    dropdown.classList.add('hidden');
    dropdown.classList.remove('visible');
  }
});
</script>
<br>
<br>
<br>
{% endblock %}

