<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoITeens</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<header>
    <h1>GoITeens Shop</h1>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/add_product">Admin</a></li>
            <li><a href="/view_basket">🛒️</a></li>
            <li><a href="/settings">⚙️</a></li>
        </ul>
    </nav>
</header>
</body>

{% block content %}
{% endblock %}


<footer>
    <p>&copy; 2023 GoITeens. All rights reserved.</p>
</footer>