<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h1>Registration Form</h1>
    <form id="registrationForm" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Register</button>
    </form>

    <div id="registrationMessage"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
  $('#registrationForm').submit(function(e) {
    e.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    var data = form.serialize();

    $.ajax({
      type: 'POST',
      url: url,
      data: data,
      success: function(response) {
        $('#registrationMessage').text('Registration successful!');
        form[0].reset();
      },
      error: function(error) {
        $('#registrationMessage').text('Registration failed.');
      }
    });
  });
});

    </script>
</body>
</html>