<!DOCTYPE html>
<html>
<head>
    <title>Settings ⚙️</title>
    {% load static %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        text-align: center;
    }

    header .logo {
        margin: 0;
        font-size: 36px;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    header .logo:hover {
        color: lightgray;
    }
</style>


<header>
    <a href="/index" class="logo">GoITeens Settings⚙️</a>
</header>
<br>
<br>
<main class="container-fluid my-5">
    <section>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 position-relative" style="min-height: 350px;">
                    <img src="{% static 'edit.png' %}" class="card-img-top" alt="Product Image"
                         style="width: 100%; height: 350px; object-fit: cover;">
                    <div class="card-body d-flex flex-column"
                         style="display: flex; flex-direction: column; justify-content: space-between;">
                        <div style="margin-bottom: auto;">
                            <h5 class="card-title">Edit Products</h5>
                            <p class="card-text">Here you can edit products, delete or change the description, price,
                                and title.</p>
                        </div>
                        <br>
                        <br>
                        <div class="d-flex justify-content-between align-items-center"
                             style="position: absolute; bottom: 10px; left: 10px; right: 10px;">
                            <a href="/edit" class="btn btn-dark">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 position-relative" style="min-height: 350px;">
                    <img src="{% static 'delete.jpg' %}" class="card-img-top" alt="Product Image"
                         style="width: 100%; height: 350px; object-fit: cover;">
                    <div class="card-body d-flex flex-column"
                         style="display: flex; flex-direction: column; justify-content: space-between;">
                        <div style="margin-bottom: auto;">
                            <h5 class="card-title">Delete a Product</h5>
                            <p class="card-text">Here you can delete a product from the database.</p>
                        </div>
                        <br>
                        <br>
                        <div class="d-flex justify-content-between align-items-center"
                             style="position: absolute; bottom: 10px; left: 10px; right: 10px;">
                            <a href="/delete" class="btn btn-dark">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 position-relative" style="min-height: 350px;">
                    <img src="{% static 'view.jpg' %}" class="card-img-top" alt="Product Image"
                         style="width: 100%; height: 350px; object-fit: cover;">
                    <div class="card-body d-flex flex-column"
                         style="display: flex; flex-direction: column; justify-content: space-between;">
                        <div style="margin-bottom: auto;">
                            <h5 class="card-title">View Reports</h5>
                            <p class="card-text">Here you can view sales reports, customer data, and more.</p>
                        </div>
                        <br>
                        <br>
                        <div class="d-flex justify-content-between align-items-center"
                             style="position: absolute; bottom: 10px; left: 10px; right: 10px;">
                            <a href="#" class="btn btn-dark">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


</body>
</html>